.container-details{
    margin: 20%;
    margin-top: 40px;
    background-color: blanchedalmond;
    border: solid 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border-radius: 10px;

}



.cont-det-2{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.tiposs{
    padding: 5px;
    color:#ffc400;
    background-color:rgb(149, 0, 45);
    margin: 5px;
    margin-top: 20px;
    border-radius: 8px;
}

#img-detail{
    max-width: 300px;

}