.container-card{
    border: solid 2px;
    border-radius: 8px;
    background-color: rgb(255, 228, 196);
    /* background-color: rgba(255, 228, 196, 0.685); */
    padding: 5px;
    width: 250px;
    height: 240px;
    margin: 30px;
}

/* .container-card:hover{
    width: 350px;
    height: 300px;
} */

#img{
    size: 15px;
    width: 120px;
    height: 120px;
}

#img:hover{
    width: 140px;
}