.search{
    border-style: none;
    border-radius: 8px;
    background-color:#ffc400;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 3px;
}

.search:hover{
    background-color:#b48a00;
}

.input-search{
    border-radius: 10px;
}